:root {
    --color-blue-50: rgb(243 248 255);
    --color-blue-100: rgb(219 234 254);
    --color-blue-200: rgb(220 226 237);
    --color-blue-300: rgb(158, 176, 209);
    --color-blue-400: rgb(101, 134, 197);
    --color-blue-500: rgb(64, 134, 214);
    --color-blue-600: rgb(8, 94, 207);
    --color-blue-700: rgb(4, 53, 199);
    --color-blue-800: rgb(9, 42, 161);
    --color-blue-900: rgb(10, 37, 117);
    --color-slate-0: rgb(255 255 255);
    --color-slate-50: rgb(238, 246, 255);
    --color-slate-100: rgb(221, 237, 252);
    --color-slate-200: rgb(188, 209, 235);
    --color-slate-300: rgb(174, 197, 226);
    --color-slate-400: rgb(142, 170, 207);
    --color-slate-500: rgb(112, 137, 173);
    --color-slate-600: rgb(65, 89, 119);
    --color-slate-700: rgb(44, 57, 78);
    --color-slate-800: rgb(31, 43, 63);
    --color-slate-900: rgb(18, 26, 41);
    --color-slate-1000: rgb(11, 17, 27);
    --color-gray-50: rgb(251, 251, 251);
    --color-gray-100: rgb(245, 245, 245);
    --color-gray-200: rgb(238, 238, 238);
    --color-gray-300: rgb(224, 224, 224);
    --color-gray-400: rgb(189, 189, 189);
    --color-gray-500: rgb(165, 165, 165);
    --color-gray-600: rgb(136, 136, 136);
    --color-gray-700: rgb(83, 83, 83);
    --color-gray-800: rgb(46, 46, 46);
    --color-gray-900: rgb(22, 22, 22);

}

:root,
[data-mdb-theme=light] {
    /* Backgrounds */
    --bg-background: var(--color-blue-50);
    --bg-surface: var(--color-slate-100);
    --bg-surface-2: var(--color-slate-0);
    --bg-surface-3: var(--color-slate-0);

    /* Colors */
    --color-surface: var(--color-slate-600);
    --color-surface-2: var(--color-slate-900);
}

[data-mdb-theme=dark] {
    /* Backgrounds */
    --bg-background: var(--color-slate-900);
    --bg-surface: var(--color-slate-900);
    --bg-surface-2: var(--color-slate-800);
    --bg-surface-3: var(--color-slate-1000);

    /* Colors */
    --color-surface: var(--color-slate-200);
    --color-surface-2: var(--color-slate-0);
}